$background: #262a34;
$selected: #22252e;
$selectedText: white;
$normalText: #ca8e59;

.inputLine {
    margin: 0px;
    padding: 0px;
    background: $background;
    color: white;
    border: 0px;
    line-height: 50px;
    box-shadow: none;
}

.inputLine {
    outline: none;
}

html,
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-family: Segoe UI;
}

.App {
    background: $background;
    border: 5px solid $background;
    border-radius: 5px;
}

.queryResult {
    margin: 0 -5px 0 -5px;
    padding: 0 5px 0 5px;
    font-size: 35px;
    height: 50px;
    background-color: $background;
    transition: height 0.2s ease-out;
    border-bottom: 1px solid $selected;
    overflow: hidden;
    color: $normalText;
}

.selectedResult {
    background-color: $selected;
    color: $selectedText;
}

.queryResult.queryResult-enter {
    height: 0px;
}

.queryResult.queryResult-enter.queryResult-enter-active {
    height: 50px;
}

.queryResult.queryResult-leave {
    height: 50px;
}

.queryResult.queryResult-leave.queryResult-leave-active {
    height: 1px;
}

.queryResult .katex {
    font-size: 0.7em;
}
